.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: left;
}

.menuItem {
  display: inline-block;
  margin-right: 0.3rem;
  margin-left: 0.3rem;
  font-size: 1rem;
}

.menuItem a {
  color: rgb(212, 212, 212);
}

.menuRight {
  float: right;
}

.menuItemRight {
  margin-left: left;
}

.menuItemActive {
  text-decoration: underline;
  color: white;
}

.menuContainer {
  margin: 0.1rem 0;
}
